// This file is used to define the theme variables for the Chupa Pop theme.
// It imports the base theme variables and overrides them with custom values.
// It also imports the base styles for reset, typography, and layout.
// The theme variables are used to customize the appearance of the Chupa Pop theme.
// The theme variables are defined using the SCSS @use and @forward directives.

@forward '../base/variables' with (
    $color-primary: #ecb838,
    $color-primary-dark: darken(#ecb838, 15%),
    $color-primary-light: lighten(#ecb838, 15%),

    $color-secondary: #ab4073,
    $color-secondary-dark: darken(#ab4073, 15%),
    $color-secondary-light: lighten(#ab4073, 15%),

    $color-accent: #196484,
    $color-accent-dark: darken(#196484, 15%),
    $color-accent-light: lighten(#196484, 15%),
);

@forward '../base/colors';
@forward '../base/reset';
@forward '../base/typography';
@forward '../base/layout';