// This file is used to define the theme variables for the Medical theme.
// It imports the base theme variables and overrides them with custom values.
// It also imports the base styles for reset, typography, and layout.
// The theme variables are used to customize the appearance of the Medical theme.
// The theme variables are defined using the SCSS @use and @forward directives.

$primary: #4682B4 !default;
$secondary: #9DC183 !default;
$accent: #A9A9A9 !default;
$muted: #D3D3D3 !default;
$background: #FFFFFF !default;

@forward '../base/variables' with (
    $color-primary: $primary,
    $color-primary-dark: darken($primary, 15%),
    $color-primary-light: lighten($primary, 15%),

    $color-secondary: $secondary,
    $color-secondary-dark: darken($secondary, 15%),
    $color-secondary-light: lighten($secondary, 15%),

    $color-accent: $accent,
    $color-accent-dark: darken($accent, 15%),
    $color-accent-light: lighten($accent, 15%),

    $color-muted: $muted,
    $color-muted-dark: darken($muted, 15%),
    $color-muted-light: lighten($muted, 15%),

    $color-background: $background,
    $color-background-dark: darken($background, 5%),
    $color-background-light: lighten($background, 5%)
);

@use '../base/variables' as *;
@forward '../base/colors';
@forward '../base/reset';
@forward '../base/typography';
@forward '../base/layout';