// This file is used to define the theme variables for the Medical theme.
// It imports the base theme variables and overrides them with custom values.
// It also imports the base styles for reset, typography, and layout.
// The theme variables are used to customize the appearance of the Medical theme.
// The theme variables are defined using the SCSS @use and @forward directives.

@forward '../base/variables' with (
    $color-primary: #4682B4,
    $color-primary-dark: darken(#4682B4, 15%),
    $color-primary-light: lighten(#4682B4, 15%),

    $color-secondary: #9DC183,
    $color-secondary-dark: darken(#9DC183, 15%),
    $color-secondary-light: lighten(#9DC183, 15%),

    $color-accent: #A9A9A9,
    $color-accent-dark: darken(#A9A9A9, 15%),
    $color-accent-light: lighten(#A9A9A9, 15%),

    $color-muted: #D3D3D3,
    $color-muted-dark: darken(#D3D3D3, 15%),
    $color-muted-light: lighten(#D3D3D3, 15%),

    $color-background: #FFFFFF,
    $color-background-dark: darken(#FFFFFF, 5%),
    $color-background-light: lighten(#FFFFFF, 5%)
);

@forward '../base/colors';
@forward '../base/reset';
@forward '../base/typography';
@forward '../base/layout';