// This file is used to define the theme variables for the Tootsie Pop theme.
// It imports the base theme variables and overrides them with custom values.
// It also imports the base styles for reset, typography, and layout.
// The theme variables are used to customize the appearance of the Tootsie Pop theme.
// The theme variables are defined using the SCSS @use and @forward directives.

@forward '../base/variables' with (
  $color-primary: #93329E,
  $color-primary-dark: darken(#93329E, 15%),
  $color-primary-light: lighten(#93329E, 15%),

  $color-secondary: $secondary,
  $color-secondary-dark: darken($secondary, 15%),
  $color-secondary-light: lighten($secondary, 15%),

  $color-accent: #E94057,
  $color-accent-dark: darken(#E94057, 15%),
  $color-accent-light: lighten(#E94057, 15%),

  $color-muted: #FFE5B4,
  $color-muted-dark: darken(#FFE5B4, 15%),
  $color-muted-light: lighten(#FFE5B4, 15%),

  $color-background: #4F2F4C,
  $color-background-dark: darken(#4F2F4C, 5%),
  $color-background-light: lighten(#4F2F4C, 5%)
);

@forward '../base/colors';
@forward '../base/reset';
@forward '../base/typography';
@forward '../base/layout';