// This file contains the color variables and utility classes for the project.

@use 'variables'as *;

:root {
    --color-background: #{$color-background};
    --color-surface: #{$color-surface};
    --color-text: #{$color-text};
    --color-muted: #{$color-muted};
    --color-primary: #{$color-primary};
    --color-secondary: #{$color-secondary};
    --color-accent: #{$color-accent};
    --color-success: #{$color-success};
    --color-error: #{$color-error};
    --color-warning: #{$color-warning};

    --color-neutral-100: #{$color-neutral-100};
    --color-neutral-200: #{$color-neutral-200};
    --color-neutral-300: #{$color-neutral-300};
    --color-neutral-400: #{$color-neutral-400};
    --color-neutral-500: #{$color-neutral-500};
    --color-neutral-600: #{$color-neutral-600};
    --color-neutral-700: #{$color-neutral-700};
    --color-neutral-800: #{$color-neutral-800};
    --color-neutral-900: #{$color-neutral-900};
}

.dark,
.dark :root {
    --color-background: #{$color-background-dark};
    --color-surface: #{$color-surface-dark};
    --color-text: #{$color-text-dark};
    --color-muted: #{$color-muted-dark};
    --color-primary: #{$color-primary-dark};
    --color-secondary: #{$color-secondary-dark};
    --color-accent: #{$color-accent-dark};
    --color-success: #{$color-success-dark};
    --color-error: #{$color-error-dark};
    --color-warning: #{$color-warning-dark};
}

.light,
.light :root {
    --color-background: #{$color-background-light};
    --color-surface: #{$color-surface-light};
    --color-text: #{$color-text-light};
    --color-muted: #{$color-muted-light};
    --color-primary: #{$color-primary-light};
    --color-secondary: #{$color-secondary-light};
    --color-accent: #{$color-accent-light};
    --color-success: #{$color-success-light};
    --color-error: #{$color-error-light};
    --color-warning: #{$color-warning-light};
}

@media (prefers-color-scheme: dark) {
    :root:not(.light):not(.dark) {
        --color-background: #{$color-background-dark};
        --color-surface: #{$color-surface-dark};
        --color-text: #{$color-text-dark};
        --color-muted: #{$color-muted-dark};
        --color-primary: #{$color-primary-dark};
        --color-secondary: #{$color-secondary-dark};
        --color-accent: #{$color-accent-dark};
        --color-success: #{$color-success-dark};
        --color-error: #{$color-error-dark};
        --color-warning: #{$color-warning-dark};
    }
}

// Utility classes for background and text colors

.bg-surface {
    background-color: var(--color-surface);
}

.bg-primary {
    background-color: var(--color-primary);
}

.bg-secondary {
    background-color: var(--color-secondary);
}

.bg-accent {
    background-color: var(--color-accent);
}

.bg-muted {
    background-color: var(--color-muted);
}

.bg-success {
    background-color: var(--color-success);
}

.bg-error {
    background-color: var(--color-error);
}

.bg-warning {
    background-color: var(--color-warning);
}

.text-primary {
    color: var(--color-primary);
}

.text-accent {
    color: var(--color-accent);
}

.text-secondary {
    color: var(--color-secondary);
}

.text-surface {
    color: var(--color-surface);
}

.text-muted {
    color: var(--color-muted);
}

.text-success {
    color: var(--color-success);
}

.text-error {
    color: var(--color-error);
}

.text-warning {
    color: var(--color-warning);
}

.text-neutral-100 {
    color: var(--color-neutral-100);
}

.text-neutral-200 {
    color: var(--color-neutral-200);
}

.text-neutral-300 {
    color: var(--color-neutral-300);
}

.text-neutral-400 {
    color: var(--color-neutral-400);
}

.text-neutral-500 {
    color: var(--color-neutral-500);
}

.text-neutral-600 {
    color: var(--color-neutral-600);
}

.text-neutral-700 {
    color: var(--color-neutral-700);
}

.text-neutral-800 {
    color: var(--color-neutral-800);
}

.text-neutral-900 {
    color: var(--color-neutral-900);
}