// Utility classes for background and text colors.

.bg-background {
    background-color: var(--color-background);
}

.bg-surface {
    background-color: var(--color-surface);
}

.bg-primary {
    background-color: var(--color-primary);
}

.bg-secondary {
    background-color: var(--color-secondary);
}

.bg-accent {
    background-color: var(--color-accent);
}

.bg-muted {
    background-color: var(--color-muted);
}

.bg-success {
    background-color: var(--color-success);
}

.bg-error {
    background-color: var(--color-error);
}

.bg-warning {
    background-color: var(--color-warning);
}

.text-background {
    color: var(--color-background);
}

.text-color {
    color: var(--color-text);
}

.text-primary {
    color: var(--color-primary);
}

.text-accent {
    color: var(--color-accent);
}

.text-secondary {
    color: var(--color-secondary);
}

.text-surface {
    color: var(--color-surface);
}

.text-muted {
    color: var(--color-muted);
}

.text-success {
    color: var(--color-success);
}

.text-error {
    color: var(--color-error);
}

.text-warning {
    color: var(--color-warning);
}

.text-neutral-100 {
    color: var(--color-neutral-100);
}

.text-neutral-200 {
    color: var(--color-neutral-200);
}

.text-neutral-300 {
    color: var(--color-neutral-300);
}

.text-neutral-400 {
    color: var(--color-neutral-400);
}

.text-neutral-500 {
    color: var(--color-neutral-500);
}

.text-neutral-600 {
    color: var(--color-neutral-600);
}

.text-neutral-700 {
    color: var(--color-neutral-700);
}

.text-neutral-800 {
    color: var(--color-neutral-800);
}

.text-neutral-900 {
    color: var(--color-neutral-900);
}
