// This file is used to reset the default styles of the browser
// and set up a consistent base for the project.

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

body {
    padding: 2rem;
    font-family: system-ui, sans-serif;
    line-height: 1.6;
}